In [10]:
import calendar

print(calendar.TextCalendar(firstweekday=6).formatyear(2019))

                                  2019

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [13]:
month, day, year = [int(i) for i in input().split()]
['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY'][calendar.weekday(year, month, day)]

08 05 2015

'WEDNESDAY'

In [16]:
list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [26]:
from datetime import date, time

date.today()

datetime.date(2018, 3, 5)

In [2]:
import datetime

# print(datetime.datetime.fromtimestamp('Sun 10 May 2015 13:54:36 -0700'))
# print(time.strftime('Sun 10 May 2015 13:54:36 -0700') - time.strftime('Sun 10 May 2015 13:54:37 -0700'))

In [39]:
import time
from datetime import datetime
s = '01/12/2011'

In [2]:
dt = datetime.datetime.strptime(s, "%d/%m/%Y").timetuple()
time.mktime(dt)

1322694000.0

In [3]:
from dateutil.parser import parse

parse("2012-11-01T04:16:13-04:00")

datetime.datetime(2012, 11, 1, 4, 16, 13, tzinfo=tzoffset(None, -14400))

In [8]:
import pytz
# pytz.all_timezones
tzone = pytz.timezone('Etc/GMT+0')

In [24]:
datetime.datetime.now()

datetime.datetime(2018, 3, 5, 11, 58, 51, 556612)

In [25]:
b = datetime.datetime.now(pytz.timezone('Etc/GMT+0'))
a = datetime.datetime.now(pytz.timezone('Etc/GMT+1'))

In [34]:
b.timetuple()

time.struct_time(tm_year=2018, tm_mon=3, tm_mday=5, tm_hour=10, tm_min=59, tm_sec=5, tm_wday=0, tm_yday=64, tm_isdst=0)

In [37]:
a.timestamp() - b.timestamp()

7.295608520507812e-05

## Time Delta

In [47]:
fmt = '%a %d %b %Y %H:%M:%S %z'
a = 'Sun 10 May 2015 13:54:36 -0700'
b = 'Sun 10 May 2015 13:54:36 -0000'
diff = datetime.strptime(b, fmt) - datetime.strptime(a, fmt)
int(abs(diff.total_seconds()))

25200

In [48]:
for _ in range(int(input())):
    fmt = '%a %d %b %Y %H:%M:%S %z'
    diff = datetime.strptime(input(), fmt) - datetime.strptime(input(), fmt)
    print(int(abs(diff.total_seconds())))

1
Sat 02 May 2015 19:54:36 +0530
Fri 01 May 2015 13:54:36 -0000
88200